<div class=" wf-section benefits-section">
  <div class="base-container w-container" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
    <div class="main-left-title-wrapper">
      <h6 class="vertical_inscription secondary-sections">Why us ?</h6>
      <h2 class="section-title-h2 bigger-title">IPP Solutions Canada offers you the best service <span class="blue-h2-text" style="color: #0554f2;">in Canada!</span></h2>
    </div> 
    <div class="home-features-wrapper">
      <div data-w-id="f45aa7c2-89c7-d58c-f910-d450196c9584" class="home-features-wrap why-us" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
        <img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/72h-repair-yellow.svg?v=1682003110" loading="lazy" alt="" class="home-features-image why-us">
        <h5 class="heading-3">72 hour repair</h5>
        <p>Get back to generating money with your cameras faster than ever before</p>
      </div>
      <div data-w-id="f45aa7c2-89c7-d58c-f910-d450196c958c" class="home-features-wrap why-us" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
        <img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/Competitive-Price-Yellow.svg?v=1682003203" loading="lazy" alt="" class="home-features-image why-us">
        <h5>Competitive prices</h5>
        <p>All our repairs are priced fairly and we can handle the shipping both ways at very low prices due to our high volume</p>
      </div>
      <div data-w-id="f45aa7c2-89c7-d58c-f910-d450196c9594" class="home-features-wrap why-us" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
        <img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/warranty-Yellow.svg?v=1682003268" loading="lazy" alt="" class="home-features-image why-us">
        <h5>3 month warranty</h5>
        <p>Our repairs are done to very high quality standards and we offer 3 months of warranty across the board</p>
      </div>
    </div>
  </div>
</div>

<style>
  section{
    padding: 0 !important;
  }
  .wf-section{
    margin-top: 20px;
  }
</style>
{% schema %}
{
  "name": "Benefits with icons",
  "tag": "section",
  "class": "section",
  "settings": [
  
  ],
  "blocks": [
    
  ],
  "presets": [
    {
      "name": "Benefits with icons"
    }
  ]
}
{% endschema %}
