<div class="testimonials  wf-section">
  <div class="base-container w-container">
    <p data-w-id="55401512-c153-e73a-5648-3ff91d4ef03d" class="background-text-big">Testimonials</p>
    <div data-w-id="55401512-c153-e73a-5648-3ff91d4ef03f" class="testimonials-slider-con">
      <div data-delay="4000" data-animation="slide" class="testimonials-slider-2 w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="true" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="false">
        <div class="testimonials-mask w-slider-mask">
          <div class="testimonials-slide w-slide">
            <div class="testimonials-item-wrapper">
              <p class="testimonials-quote-icon-2">
                <img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-_-_-50.png?v=1682001431" loading="lazy" class="icon-guote">
                </p>
              <p class="testimonials-quote">&quot;Supplier of pipe inspection cameras, high pressure cleaning nozzles and a membrane spray liner solution that I&#x27;ve come to know this year and is already proving itself in terms of customer service and quick response.</p>
              <div class="stars-testimonial-wrapper"><img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-star-filled-48.png?v=1682077027" loading="lazy" width="31" alt="" class="star-icon"><img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-star-filled-48.png?v=1682077027" loading="lazy" width="31" alt="" class="star-icon"><img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-star-filled-48.png?v=1682077027" loading="lazy" width="31" alt="" class="star-icon"><img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-star-filled-48.png?v=1682077027" loading="lazy" width="31" alt="" class="star-icon"><img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-star-filled-48.png?v=1682077027" loading="lazy" width="31" alt="" class="star-icon"></div>
              <div class="testimonials-quote-author">
                <div class="testimonials-author ">
                  <h5 class="">Guillaume Fortin</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="testimonials-slide w-slide">
            <div class="testimonials-item-wrapper">
              <p class="testimonials-quote-icon-2">
                <img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-_-_-50.png?v=1682001431" loading="lazy" class="icon-guote">
                </p>
              <p class="testimonials-quote ">&quot;The team is amazing to deal with and a real class act as a supplier if you need equipment buy it from him you won&#x27;t regret it.&quot;</p>
              <div class="stars-testimonial-wrapper"><img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-star-filled-48.png?v=1682077027" loading="lazy" width="31" alt="" class="star-icon"><img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-star-filled-48.png?v=1682077027" loading="lazy" width="31" alt="" class="star-icon"><img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-star-filled-48.png?v=1682077027" loading="lazy" width="31" alt="" class="star-icon"><img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-star-filled-48.png?v=1682077027" loading="lazy" width="31" alt="" class="star-icon"><img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-star-filled-48.png?v=1682077027" loading="lazy" width="31" alt="" class="star-icon"></div>
              <div class="testimonials-quote-author">
                <div class="testimonials-author">
                  <h5 class="">Adam Upton</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="testimonials-slide w-slide">
            <div class="testimonials-item-wrapper">
              <p class="testimonials-quote-icon-2">
                <img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-_-_-50.png?v=1682001431" loading="lazy" class="icon-guote">
                </p>
              <p class="testimonials-quote ">&quot;&quot;Great service, speed, openness.👍&quot;&quot;</p>
              <div class="stars-testimonial-wrapper"><img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-star-filled-48.png?v=1682077027" loading="lazy" width="31" alt="" class="star-icon"><img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-star-filled-48.png?v=1682077027" loading="lazy" width="31" alt="" class="star-icon"><img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-star-filled-48.png?v=1682077027" loading="lazy" width="31" alt="" class="star-icon"><img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-star-filled-48.png?v=1682077027" loading="lazy" width="31" alt="" class="star-icon"><img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-star-filled-48.png?v=1682077027" loading="lazy" width="31" alt="" class="star-icon"></div>
              <div class="testimonials-quote-author">
                <div class="testimonials-author">
                  <h5 class="">Marc Dufour</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonials-left-arrow w-slider-arrow-left">
          <div class="arrow-icon-small  w-icon-slider-left" style="display: block;"></div>
        </div>
        <div class="testimonials-right-arrow blue-background w-slider-arrow-right">
          <div class="arrow-icon-small  w-icon-slider-right" style="display: block;"></div>
        </div>
        <div class="slide-nav w-slider-nav w-round"></div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Quote slider | light",
  "tag": "section",
  "class": "section",
  "settings": [
   
  ],
  "blocks": [
    
  ],
  "presets": [
    {
      "name": "Quote slider | light"
    }
  ]
}
{% endschema %}
