<div data-animation="over-left" class="navigation-menu-home-6 w-nav" data-easing2="ease" data-easing="ease"
  data-collapse="medium" role="banner" data-no-scroll="1" data-duration="400" data-doc-height="1"
  style="will-change: background; background-color: rgba(0, 0, 0, 0);">
  <div class="nav-container w-container">
    <div class="menu-wrapper"><a href="/" aria-current="page" class="brand-logo w-nav-brand w--current"
        aria-label="home"><img
          src="https://assets.website-files.com/63f392630fc00a3518a46778/6414b935a1b0aa24bb595037_IPP_SoluCa_logo_textejaune.png"
          loading="lazy" sizes="(max-width: 767px) 67.24537658691406px, (max-width: 991px) 11vw, 105.37037658691406px"
          srcset="https://assets.website-files.com/63f392630fc00a3518a46778/6414b935a1b0aa24bb595037_IPP_SoluCa_logo_textejaune-p-500.png 500w, https://assets.website-files.com/63f392630fc00a3518a46778/6414b935a1b0aa24bb595037_IPP_SoluCa_logo_textejaune-p-800.png 800w, https://assets.website-files.com/63f392630fc00a3518a46778/6414b935a1b0aa24bb595037_IPP_SoluCa_logo_textejaune-p-1080.png 1080w, https://assets.website-files.com/63f392630fc00a3518a46778/6414b935a1b0aa24bb595037_IPP_SoluCa_logo_textejaune-p-1600.png 1600w, https://assets.website-files.com/63f392630fc00a3518a46778/6414b935a1b0aa24bb595037_IPP_SoluCa_logo_textejaune-p-2000.png 2000w, https://assets.website-files.com/63f392630fc00a3518a46778/6414b935a1b0aa24bb595037_IPP_SoluCa_logo_textejaune.png 2496w"
          alt="" class="image-ruc-animation" style="will-change: opacity; opacity: 1;"><img
          src="https://assets.website-files.com/63f392630fc00a3518a46778/6414b935a1b0aa24bb595037_IPP_SoluCa_logo_textejaune.png"
          loading="lazy" sizes="(max-width: 767px) 67.24537658691406px, (max-width: 991px) 11vw, 105.37037658691406px"
          height="30"
          srcset="https://assets.website-files.com/63f392630fc00a3518a46778/6414b935a1b0aa24bb595037_IPP_SoluCa_logo_textejaune-p-500.png 500w, https://assets.website-files.com/63f392630fc00a3518a46778/6414b935a1b0aa24bb595037_IPP_SoluCa_logo_textejaune-p-800.png 800w, https://assets.website-files.com/63f392630fc00a3518a46778/6414b935a1b0aa24bb595037_IPP_SoluCa_logo_textejaune-p-1080.png 1080w, https://assets.website-files.com/63f392630fc00a3518a46778/6414b935a1b0aa24bb595037_IPP_SoluCa_logo_textejaune-p-1600.png 1600w, https://assets.website-files.com/63f392630fc00a3518a46778/6414b935a1b0aa24bb595037_IPP_SoluCa_logo_textejaune-p-2000.png 2000w, https://assets.website-files.com/63f392630fc00a3518a46778/6414b935a1b0aa24bb595037_IPP_SoluCa_logo_textejaune.png 2496w"
          alt="" class="image-ruc" style="will-change: opacity; opacity: 0;"></a>
      <div class="nav-menu-wrapper-home-6">
        <nav role="navigation" class="nav-menu-2 w-nav-menu" style="transform: translateX(0px) translateY(0px);">
          <div class="nav-menu-shadow-overlay-2">
            <div class="tablet-menu-2">  
              <div class="close-menu-button-2 w-nav-button" style="-webkit-user-select: text; display: block;" aria-label="menu"
                role="button" tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false">
                <img
                  src="https://assets.website-files.com/63f392630fc00a3518a46778/6413fd2e2810c5890ad72499_icons8-close.svg"
                  loading="lazy" width="45" alt="" class="nav-close-icon-2"></div>
            </div>
            <div class="dropdown-menu">
              <div class="top-tablet-menu"><a href="/" aria-current="page" class="logo-mobile-2 w-nav-brand w--current"
                  aria-label="home"><img
                    src="https://assets.website-files.com/63f392630fc00a3518a46778/6413f51197659857ee9dc0a7_New%20Logo.png"
                    loading="lazy" sizes="100vw" height="24"
                    srcset="https://assets.website-files.com/63f392630fc00a3518a46778/6413f51197659857ee9dc0a7_New%20Logo-p-500.png 500w, https://assets.website-files.com/63f392630fc00a3518a46778/6413f51197659857ee9dc0a7_New%20Logo-p-800.png 800w, https://assets.website-files.com/63f392630fc00a3518a46778/6413f51197659857ee9dc0a7_New%20Logo-p-1080.png 1080w, https://assets.website-files.com/63f392630fc00a3518a46778/6413f51197659857ee9dc0a7_New%20Logo-p-1600.png 1600w, https://assets.website-files.com/63f392630fc00a3518a46778/6413f51197659857ee9dc0a7_New%20Logo-p-2000.png 2000w, https://assets.website-files.com/63f392630fc00a3518a46778/6413f51197659857ee9dc0a7_New%20Logo.png 2496w"
                    alt="" class="image-ruc tablet" style="will-change: opacity; opacity: 1;"></a>
                <div class="border-wrap"><a href="/" aria-current="page" class="header-link w-inline-block w--current">
                    <div class="header-title">Home</div>
                  </a><a href="/pages/products" class="header-link w-inline-block">
                    <div class="header-title">Products</div>
                  </a><a href="/pages/services" class="header-link w-inline-block">
                    <div class="header-title">Services</div>
                  </a><a href="/pages/contact-us" class="header-link w-inline-block">
                    <div class="header-title">Contact Us</div>
                  </a></div>
              </div>
              <div class="weglot-container" data-switcher-id="1" id="weglot-switcher-1">
                <div data-wg-notranslate="true" tabindex="0" role="listbox" aria-activedescendant="weglot-language-en"
                  aria-label="Language selected: English" class="weglot_switcher toggle">
                  <div class="language-options">
                    <div data-l="en" class="language-option"
                      style="background-color: rgb(5, 84, 242); cursor: pointer;"><a tabindex="-1"
                        href="https://ipp-solutions-canada.myshopify.com/" target="_self" role="none" id="weglot-language-en"
                        style="color: white;">en</a></div>
                    <div data-l="fr" class="language-option" style="background-color: transparent; cursor: pointer;"><a
                        tabindex="-1" href="https://ipp-solutions-canada.myshopify.com/fr" target="_self" role="none"
                        id="weglot-language-fr" style="color: rgb(51, 51, 51);">fr</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div class="buttons-wrapper">
        <div data-w-id="a6e64b53-4b60-b48a-fd13-eb4892d9221f" class="wg-element-wrapper sw5" style="opacity: 1;">
          <div data-hover="true" data-delay="300" data-w-id="a6e64b53-4b60-b48a-fd13-eb4892d92220"
            class="wg-dropdown-1 w-dropdown" style="background-color: rgba(0, 0, 0, 0);">
            <div lang="en" class="wg-dd-1-togle w-dropdown-toggle" id="w-dropdown-toggle-0"
              aria-controls="w-dropdown-list-0" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
              <div>en</div>
            </div>
            <nav data-w-id="a6e64b53-4b60-b48a-fd13-eb4892d92224" class="wg-dd-1-list w-dropdown-list"
              id="w-dropdown-list-0" aria-labelledby="w-dropdown-toggle-0"
              style="height: 0%; background-color: rgba(0, 0, 0, 0);"><a href="#" lang="fr"
                class="wg-dropdown-1-link w-dropdown-link" tabindex="0">fr</a></nav>
          </div>
        </div>
      </div><a href="/pages/contact-us" class="primary-blue-button header-button w-button">Contact Us</a>
      <div class="search-shop-con-2 home-5">
        <div data-w-id="89385717-1392-dfe4-0b80-fd62fc5505b3" class="navbar-search-icon-2"></div>
      </div>
      <div class="menu-button-2 w-nav-button" style="-webkit-user-select: text;" aria-label="menu" role="button"
        tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false">
        <div class="wrapper-item-home-1">
          <div class="line-header"></div>
          <div class="line"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0" style="display: none;"></div>
</div>

<script>
  document.getElementById("weglot-language-en").onclick = function(){
    origEl =window.location.href;
    console.log(origEl);
    // https://ipp-solutions-canada.myshopify.com/
    window.location = 'https://ipp-solutions-canada.myshopify.com/fr'

    window.location.pathname = "/bn/home";
  }
</script>


<script> 
  var body = document.getElementsByTagName('body')[0];
  var nav_bg = document.getElementsByClassName('navigation-menu-home-6')[0];
  nav_bg.style.backgroundColor = 'rgba(0, 0, 0, 0)';
  window.onscroll = function (event) {
      var scroll = window.pageYOffset;
      if (scroll < 10) {
          nav_bg.style.backgroundColor = 'rgba(0, 0, 0, 0)';
      }
       else { 
          nav_bg.style.backgroundColor = 'black';
      }
  }
</script>

{% schema %}
{
  "name": "nav",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "t:sections.apps.settings.include_margins.label"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "nav"
    }
  ]
}
{% endschema %}
