<div class="section home-ruc-3-banner-section wf-section">
  <div data-w-id="dced4357-aad1-6919-ad7f-a373e9a3e81e" style="opacity:1" class="banner-slider-container">
    <div class="home-1-banner">
      <div class="main-title-wrapper">
        <h6 class=" vertical_inscription vertical_header vertical-title">Our company</h6>
        <h1 class="home-1-title hero-home">Distributing <span class="text-span-5">aqueduct, sewer cleaning, inspection and rehabilitation</span> products.<span class="blue-h1-title"></span></h1>
      </div>
      <p class="white-description-home-1">IPP Solutions Canada Inc distributes aqueduct and sewer cleaning, inspection and rehabilitation products across Canada.</p>
      <div class="home-buttons-wrapper">
        <a href="{{section.settings.link}}" class="primary-blue-button white-text">Contact Us</a>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "banner header",
  "tag": "section",
  "class": "section",
  "settings": [
  {
    "type": "url",
    "id": "link",
    "label": "Button link"
  }
  ],
  "blocks": [
    
  ],
  "presets": [
    {
      "name": "banner header"
    }
  ]
}
{% endschema %}
