<div class="section wf-section">
  <div class="base-container">
    <div class="who-we-are-container second-product">
      <div class="about-us-wrap left">
        <div data-w-id="544eb188-7510-3cf4-3a6f-6363078a8dd1" style="opacity:1" class="main-left-title-wrapper full-width">
          <h6 id="fr3" class="vertical_inscription secondary-sections">Our Products</h6>
          <h2>The Best <span class="blue-h2-text">Chain Cutters</span>, Period.</h2>
        </div>
        <p data-w-id="1bc9ea59-60b6-49a2-022a-11240335c666" style="opacity:1" class="description-about-us">The Cyclone chain cutters are offered with 3/8&quot;, 5/16&quot; and 1/4&quot; cables and bring incredible performances and ruggedness at an unmatchable price point.</p>
        <div class="link-wrapper-with-line">
          <a href="contact-us-1.html" class="primary-blue-button">Contact Us</a>
        </div>
      </div>
      <div class="about-us-wrap right">
        <div data-w-id="1bc9ea59-60b6-49a2-022a-11240335c674" style="opacity:1" class="div-block-18">
          <img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/best-chain-cutters-1.png?v=1681993062" loading="lazy" class="capabilities-image">
          <!-- <img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/best-chain-cutters-1.png?v=1681993062" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 991px) 91vw, (max-width: 1279px) 45vw, 578.6041870117188px" srcset="images/best-chain-cutters-1-p-500.png 500w, images/best-chain-cutters-1.png 569w" alt="" class="capabilities-image">
         -->
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{ 'jquery-3.6.4.js' | asset_url }}" type="text/javascript"></script>
<script src="{{ 'ipp-solutions-canada.js' | asset_url }}" type="text/javascript"></script>


{% schema %}
{
  "name": "wf-section",
  "tag": "section",
  "class": "section",
  "settings": [
   
  ],
  "blocks": [
   
  ],
  "presets": [
    {
      "name": "wf-section"
    }
  ]
}
{% endschema %}
