
<div class="section black heade wf-section">
  <div class="base-container w-container">
    <div class="main-left-title-wrapper our_products">
      <h6 id="fr1" style="font-weight: 40;" class="vertical_inscription secondary-sections banner ">Our products</h6>
      <h2 class="section-title-h2 heading-4 ">We distribute <span class="yellow-h2-text">aqueduct and sewer cleaning, inspection and rehabilitation</span> products.</h2>
    </div>
  </div>
</div>
<style>
  section{
    padding: 0 !important;
  }
</style>
{% schema %}
{
  "name": "Text section",
  "tag": "section",
  "class": "section",
  "settings": [
 
  ],
  "blocks": [
    
  ],
  "presets": [
    {
      "name": "Text section"
    }
  ]
}
{% endschema %}
