
<div class="section black heade wf-section">
  <div class="base-container w-container">
    <div class="main-left-title-wrapper our_products">
      <h6 id="fr1" style="font-weight: 40;" class="vertical_inscription secondary-sections banner ">{{section.settings.button_label_1}}</h6>
      <h2 class="section-title-h2 heading-4 ">{{section.settings.button_label_2}} <span class="yellow-h2-text">{{section.settings.button_label_3}}</span> {{section.settings.button_label_4}}</h2>
    </div>
  </div>
</div>
<style>
  section{
    padding: 0 !important;
  }
</style>
{% schema %}
{
  "name": "Text section",
  "tag": "section",
  "class": "section",
  "settings": [
    
    {
          "type": "text",
          "id": "button_label_1",
          "default": "Our company",
          "label": "Text"
      
        },
    {
          "type": "text",
          "id": "button_label_2",
          "default": "Our company",
          "label": "Text"
      
        }, {
          "type": "text",
          "id": "button_label_3",
          "default": "Our company",
          "label": "Text"
      
        }, {
          "type": "text",
          "id": "button_label_4",
          "default": "Our company",
          "label": "Text"
      
        }
 
  ],
  "blocks": [
    
  ],
  "presets": [
    {
      "name": "Text section"
    }
  ]
}
{% endschema %}
